@import 'main';


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  display: block;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: $dark2;
  color: $light2;
  font-family: $font1;
}
