@import 'main';


.Dashboard {
  @include fill-center-col($h: calc(100vh - 60px), $j: unset, $a: unset);
  padding: 60px 0 0 0;
  text-align: left;
}

.Header {
 @include headline;
}


/* Responsive Styles */

@media (max-width: 500px) {

  .Dashboard {
    text-align: center;
  }
  
}