@import 'main';

/* 
  ----------------- Loader ------------------
*/

.Loader {
  @include fill-center-col($h: 50vh);
  position: relative;
  flex-grow: 1;

  span {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }

  span:first-child {
    @extend %back-and-forth;
    background-color: $color1;
    animation: oscillate 1s ease-in-out 0s;
  }

  span:last-child {
    @extend %back-and-forth;
    background-color: $color2;
    animation: oscillate 1s ease-in-out -1s;
  }
}


/* animation styles */

// animation pattern
%back-and-forth {
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes oscillate {

  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(30px);
  }
}
