@import 'main';


.Ledger {
  @include fill-center-col;
  margin-top: $navbarHeight;
  text-align: center;
  position: relative;
}

.Header {
  @include headline;
}

.LedgerContainer {
  @include fill-center-col($j: flex-start);
}

.Expenses, .Income {
  width: 100%;
  text-align: center;
  margin: 20px auto;

  .Header {
    @include subheadline;
  }
  .Row {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    &.MonthLine {
      margin: 20px auto 10px;
    }
    .Key {
      width: 100px;
      text-align: left;
    }
    .Val {
      width: 50px;
      text-align: right;
    }
  }
}

.AddDialog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  .AddHeader {
    @include subheadline;
    text-align: center;
  }
  .Alert {
    width: fit-content;
    margin: 1em auto;
  }
  .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .AddField {
      width: 100%;
      display: flex;
      margin-bottom: 1em;
      text-align: right;
      label {
        width: 45%;
        padding: 0 10px;
      }
      input {
        width: 55%;
        max-width: 150px;
        margin: 0 10px;
      }
    }
  }
}

.Button1 {
  @include button1;
  padding: 10px;
  margin: 10px;

  &.CancelButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


/* Responsive Styles */

@media (max-width: $sm) {

  .Header {
    align-self: flex-start;
  }

}