@import 'main';


.Navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $black2;
  z-index: 100;
}

.Brand, .NavOptions {
  position: relative;
  display: flex;
  flex-direction: row;
  height: inherit;
  background-color: inherit;
}

.NavOption, .BrandLink {
  @include fill-center-col($w: auto);
  padding: 0 10px;
  text-decoration: none;
  color: $light2;
  text-align: center;
}
.NavOption:hover {
  cursor: pointer;
  background: linear-gradient($black2, $black3);
}
.BrandLink {
  font-size: 1.2rem;
}

.currentPage {
  box-shadow: inset 0 -5px $color2-dark;
}

.Burger {
  display: none;
  position: absolute;
  top: 15px;
  right: 10px;
  height: 30px;
  width: 30px;

  &:hover {
    cursor: pointer;
  }

  span {
    width: 100%;
    height: 4px;
    background-color: $light2;
  }
}


/* Responsive Styles */

@media (max-width: 500px) {

  .Burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      &:first-child {
        transform: none;
        transition: transform 0.3s ease-in;
      }

      &:nth-child(2) {
        opacity: 1;
        transition: opacity 0.3s ease-out;
      }

      &:last-child {
        transform: none;
        transition: transform 0.3s ease-in;
      }
    }

    &.openBurger {
      span {
        &:first-child {
          transform: translateY(13px) rotateZ(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: translateY(-13px) rotateZ(-45deg);
        }
      }
    }
    
  }

  .Navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .NavOptions {
    flex-direction: column;
    width: 100%;
    height: auto;
    pointer-events: none;
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;

    &.openMenu {
      pointer-events: auto;
      transform: translateY(0);
      opacity: 1;
    }
  }

  .NavOption {
    width: 100%;
    padding: 10px 0;
  }

  .currentPage {
    box-shadow: inset -5px 0 $color2-dark;
  }
  
}
