.Signup, .Login, .ForgotPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.Card {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 10px;
}

.CardPrompt {
  margin-top: 5px;
}

.CardLink {
  text-decoration: none;
  color: rgb(60, 89, 255);
}
.CardLink:visited {
  color: rgb(60, 89, 255);
}

.Form {
  text-align: left;
}
.Form input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Form label, .Form input, .SignupSubmit, .LoginSubmit, .Alert {
  margin-bottom: 5px;
}

.CardSubmit {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: rgb(126, 1, 126);
  color: ghostwhite;
  padding: 10px;
  font-family: Ubuntu;
}
.CardSubmit:hover {
  cursor: pointer;
  background: linear-gradient(rgb(156, 0, 156), rgb(83, 0, 83));
}
.CardSubmit:disabled {
  background-color: grey;
}

.Alert, .Success {
  box-sizing: border-box;
  border-radius: 5px;
  color: ghostwhite;
  width: 100%;
  padding: 5px;
}

.Alert {
  background-color: rgba(202, 0, 0, 0.9);
}

.Success {
  background-color: rgba(0, 177, 0, 0.9);
}