.Ledger {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: inherit;
  padding: 60px 0 0 0;
  text-align: left;
}

.LedgerContainer {
  
}

.Header {
  font-weight: bold;
  font-size: 3em;
  padding: 10px;
}

.Expenses {

}

.Income {

}

.Expenses .Header, .Income .Header {
  font-size: 2em;
  text-align: center;
}
