.Loader {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.LoaderBox {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100px;
}

.LoaderBox span {
  width: 40px;
  height: 100%;
  border-radius: 100px;
}

.LoaderBox span:first-child {
  background-color: rgb(60, 89, 255);
  animation: oscillate_right 1s ease-in-out 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.LoaderBox span:last-child {
  background-color: rgb(192, 165, 12);
  animation: oscillate_left 1s ease-in-out 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/* loader animation */

@keyframes oscillate_right {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(60px);
  }
}

@keyframes oscillate_left {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-60px);
  }
}