.Navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(29, 29, 29);
}

.Brand, .NavOptions {
  position: relative;
  display: flex;
  flex-direction: row;
  height: inherit;
}

.NavOption, .BrandLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  height: inherit;
}
.NavOption:hover {
  cursor: pointer;
  background: linear-gradient(rgb(77, 77, 77), rgb(10, 10, 10));
}

.currentPage {
  box-shadow: inset 0 -5px rgb(192, 165, 12);
}