.Profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: inherit;
  padding: 60px 0 60px 0;
  text-align: left;
}

.Header {
  font-weight: bold;
  font-size: 3em;
  padding: 10px;
}

.ProfileSub {
  display: table;
  width: 90%;
  margin: 10px auto;
}
.ProfileRow {
  display: table-row;
}
.ProfileRow > div {
  width: auto;
  display: table-cell;
}
.ProfileRow > div:nth-child(1){
  font-weight: bolder;
}

.EditButton {
  position: absolute;
  top: 80px;
  right: 20px;
  max-width: 100px;
  border: none;
  border-radius: 5px;
  background-color: rgb(126, 1, 126);
  color: ghostwhite;
  padding: 10px;
  font-size: 20px;
  font-family: Ubuntu;
}
.EditButton:hover {
  cursor: pointer;
  background: linear-gradient(rgb(156, 0, 156), rgb(83, 0, 83));
}

.EditProfile {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}
